<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

  <context:annotation-config/> 

  <import resource="classpath:edu/umn/msi/tropix/storage/client/http/context.xml" />
  <import resource="classpath:edu/umn/msi/tropix/storage/client/cagrid/context.xml" />
  <import resource="classpath:edu/umn/msi/tropix/storage/client/rest/context.xml" />

  <bean class="edu.umn.msi.tropix.common.spring.MapPropertyPlaceholderConfigurer">
    <property name="ignoreUnresolvablePlaceholders" value="true" />
    <property name="properties">
      <map>
        <entry key="storage.type" value="local" />
        <entry key="storage.service.url" value="local://Storage" />
      </map>
    </property>
  </bean>  
    
  <bean id="modelStorageDataFactory" class="edu.umn.msi.tropix.storage.client.impl.ModelStorageDataFactoryImpl">
    <property name="tropixFileFactory" ref="${storage.type}TropixFileFactory" />
  </bean>
  
  <alias name="modelStorageDataFactory" alias="storageDataFactory" />
  
</beans>