<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Unit Test Suite" verbose="2" >
  <test name="Unit Test">
    <groups>
      <run>
        <include name="unit" />
        <include name="spring" />
      </run>
    </groups>
    <packages>
      <package name="edu.umn.msi.tropix.common.*" />
   </packages>
 </test>
</suite>

