<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:gc="http://jmchilton.net/spring/collect/google"
       xsi:schemaLocation="
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd       
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://jmchilton.net/spring/collect/google http://jmchilton.net/spring/collect/google.xsd">

  <!-- Enable AspectJ support, aspects are configured via annotations. -->
  <context:annotation-config />
  <aop:aspectj-autoproxy/>
  
  <context:component-scan base-package="edu.umn.msi.tropix.webgui.server" />

  <import resource="classpath:edu/umn/msi/tropix/common/jmxContext.xml" />
  <import resource="classpath:edu/umn/msi/tropix/client/context.xml" />   
  
  <import resource="securityContext.xml" />
  
  <bean class="edu.umn.msi.tropix.common.spring.MapPropertyPlaceholderConfigurer">
    <property name="properties">
      <map>
        <entry key="modules" value="SHARING, LOCAL_SEARCH" />
      </map>
    </property>
  </bean>
  
  <bean id="modulesIterable" class="edu.umn.msi.tropix.common.collect.spring.JmxStringIterable">
    <property name="contents" value="${modules}" />
  </bean>

  <!-- Create aspect for performing security checks. -->
  <bean class="edu.umn.msi.tropix.webgui.server.aop.SecurityAspect" />
   
  <!-- Create aspect for handling error logging. -->
  <bean class="edu.umn.msi.tropix.webgui.server.aop.ErrorLoggingAspect" />
  
  <!-- Create aspect for handling locking down the Tropix GUI prior to a restart. -->
  <bean class="edu.umn.msi.tropix.webgui.server.aop.LockingAspect" />
  
  <!-- Bean not used directly anywhere, but injects the userSession into the static member of the TropixPatternLayout,
       so that logging code may not what user a particular thread corresponds to. -->
  <bean class="edu.umn.msi.tropix.webgui.server.logging.TropixPatternLayout" scope="singleton">
    <property name="userSession" ref="session" />
  </bean>

  <bean id="storageServiceUrlSupplier" class="edu.umn.msi.tropix.common.spring.PropertySupplierImpl">
    <constructor-arg value="${storage.service.url}" />
  </bean>

  <bean id="permissionFunction" class="edu.umn.msi.tropix.webgui.server.PermissionFunction">
    <property name="gridUserFunction" ref="gridUserFunction" />
  </bean>

  <bean class="edu.umn.msi.tropix.webgui.server.NoteServiceImpl$NoteLock" scope="session">
    <!-- Creates a global proxy around a per session note lock bean -->
    <aop:scoped-proxy/>
  </bean>
  
  <!-- Needed by ExportServiceImpl -->
  <bean class="edu.umn.msi.tropix.grid.gridftp.impl.GridFtpFactoryImpl" />
  
  <!-- GWT Services --> 
  <bean class="edu.umn.msi.tropix.webgui.server.IdentificationParametersImpl">
    <property name="specificationManager" ref="identificationSpecifications" />
    <property name="displayManager" ref="resource.manager.xml.identification.display" />
  </bean>
  
  <bean id="progressTrackingIOUtilsTimed" class="edu.umn.msi.tropix.webgui.server.progress.ProgressTrackingIOUtilsTimed">
    <property name="bufferSize" value="2048" />
    <property name="updateDelta" value="1000" /><!-- Update download progress twice a second -->
  </bean>  

  <!-- Following bean needed by mgf download handler. -->
  <bean class="edu.umn.msi.tropix.proteomics.conversion.impl.MzXMLToMGFConverterStreamingImpl" />
  
  <bean class="edu.umn.msi.tropix.webgui.server.GridServicesManager">
    <property name="map" ref="gridServiceSupplierManager" />
  </bean>
  
  <!-- Consider versioning these. -->
  <bean id="identificationSpecifications" class="edu.umn.msi.tropix.webgui.server.xml.XMLResourceManager" scope="singleton">
    <property name="resourceAccessorFunction">
      <bean class="edu.umn.msi.tropix.webgui.server.resource.MappedResourceAccesorFunctionUtils" factory-method="create">
        <constructor-arg ref="resourceAccessorFactory" />
        <constructor-arg>
          <map>
            <entry key="Generic" value="/WEB-INF/etc/proteinIdentification/genericSpecification.xml" />
            <entry key="SequestBean" value="/WEB-INF/etc/proteinIdentification/sequestSpecification.xml" />
            <entry key="OmssaXml" value="/WEB-INF/etc/proteinIdentification/omssaSpecification.xml" />            
            <entry key="MascotBean" value="/WEB-INF/etc/proteinIdentification/mascotSpecification.xml" />
            <entry key="XTandemBean" value="/WEB-INF/etc/proteinIdentification/xTandemSpecification.xml" />
            <entry key="MyriMatch" value="/WEB-INF/etc/proteinIdentification/myriMatchSpecification.xml" />
            <entry key="TagRecon" value="/WEB-INF/etc/proteinIdentification/tagReconSpecification.xml" />
          </map>
        </constructor-arg>
      </bean>
    </property>    
  </bean>

  <!-- TODO: Rename bean -->
  <bean id="resource.manager.xml.identification.display" class="edu.umn.msi.tropix.webgui.server.xml.XMLResourceManager" scope="singleton">
    <property name="resourceAccessorFunction">
      <bean class="edu.umn.msi.tropix.webgui.server.resource.MappedResourceAccesorFunctionUtils" factory-method="create">
        <constructor-arg ref="resourceAccessorFactory" />
        <constructor-arg>
          <map>
            <entry key="Generic" value="/WEB-INF/etc/proteinIdentification/genericDisplay.xml" />
            <entry key="SequestBean" value="/WEB-INF/etc/proteinIdentification/sequestDisplay.xml" />
            <entry key="MascotBean" value="/WEB-INF/etc/proteinIdentification/mascotDisplay.xml" />
            <entry key="XTandemBean" value="/WEB-INF/etc/proteinIdentification/xTandemDisplay.xml" />
            <entry key="OmssaXml" value="/WEB-INF/etc/proteinIdentification/omssaDisplay.xml" />
            <entry key="MyriMatch" value="/WEB-INF/etc/proteinIdentification/myriMatchDisplay.xml" />
            <entry key="TagRecon" value="/WEB-INF/etc/proteinIdentification/tagReconDisplay.xml" />                 
            <entry key="scaffold" value="/WEB-INF/etc/scaffoldDisplay.xml" />
            <entry key="idPicker" value="/WEB-INF/etc/idPickerDisplay.xml" />
            <entry key="RAW" value="/WEB-INF/etc/RAWDisplay.xml" />
            <entry key="loginIPhone" value="WEB-INF/etc/loginIPhone.xml" />
            <entry key="test" value="/WEB-INF/etc/test.xml" />
            <entry key="rename" value="/WEB-INF/etc/rename.xml" />
            <entry key="bowtie" value="/WEB-INF/etc/genomics/bowtieDisplay.xml" />
          </map>  
        </constructor-arg>
      </bean>
    </property>
  </bean>

  <bean id="xmlResourceManager" class="edu.umn.msi.tropix.webgui.server.xml.XMLResourceManager" scope="singleton">
    <property name="resourceAccessorFunction">
      <gc:map-to-function>
        <map>
          <entry key="gridUser">
            <bean class="edu.umn.msi.tropix.webgui.server.xml.SmartXmlResourceAccessorImpl">
              <property name="executor" ref="executorService" />
              <property name="dataSourceIterable">
                <gc:transform-iterable>
                   <ref bean="cachedGridUserIterable" />
                   <bean class="edu.umn.msi.tropix.webgui.server.xml.GridUserFunctionImpl" />
                </gc:transform-iterable>
              </property>
            </bean>
          </entry>
        </map>    
      </gc:map-to-function>
    </property>
  </bean>

  <bean id="schemaValidationProviderFactory" class="edu.umn.msi.tropix.webgui.server.forms.validation.SchemaValidationProviderFactory" abstract="true" />

  <bean id="formConfigurationGwtService" class="edu.umn.msi.tropix.webgui.server.FormConfigurationServiceImpl">
    <property name="displayXMLResourceManager" ref="resource.manager.xml.identification.display" />
    <property name="formValidationSupplierMap">
      <map>
        <entry key="bowtie">
          <bean parent="schemaValidationProviderFactory">
            <property name="resourceId" value="/WEB-INF/etc/genomics/bowtieSpec.xsd" />
          </bean>
        </entry>
        <entry key="scaffold">
          <bean parent="schemaValidationProviderFactory">
            <property name="resourceId" value="/WEB-INF/etc/scaffold.xsd" />
          </bean>
        </entry>
        <entry key="idPicker">
          <bean parent="schemaValidationProviderFactory">
            <property name="resourceId" value="/WEB-INF/etc/idPicker.xsd" />
          </bean>
        </entry>
        <entry key="RAW">
          <bean parent="schemaValidationProviderFactory">
            <property name="resourceId" value="/WEB-INF/etc/RAW.xsd" />
          </bean>
        </entry>
        <entry key="test">
          <bean parent="schemaValidationProviderFactory">
            <property name="resourceId" value="/WEB-INF/etc/test.xsd" />
          </bean>
        </entry>
        <entry key="loginIPhone">
          <bean parent="schemaValidationProviderFactory">
            <property name="resourceId" value="/WEB-INF/etc/loginIPhone.xsd" />
          </bean>
        </entry>
        <entry key="rename">
          <bean parent="schemaValidationProviderFactory">
            <property name="resourceId" value="/WEB-INF/etc/rename.xsd" />
          </bean>
        </entry>
      </map>
    </property>
  </bean>  

</beans>
