<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Unit Tests" verbose="1" >
  <test name="unit">
    <groups>
      <run>
        <include name="unit" />
        <include name="spring" />
      </run>
    </groups>
    <packages>
      <package name="edu.umn.msi.tropix.proteomics.*" />
      <package name="edu.umn.msi.tropix.genomics.*" />
    </packages>
  </test>  
</suite>
