<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Coverage Test Suite" verbose="2" >
  <test name="Coverage">
    <groups>
      <run>
        <include name="unit" />
        <include name="spring" />
      </run>
    </groups>
    <packages>
      <package name="edu.umn.msi.tropix.storage.client.*" />
    </packages>
 </test>
</suite>

