<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:sec="http://cxf.apache.org/configuration/security"
  xmlns:http="http://cxf.apache.org/transports/http/configuration"
  xmlns:httpj="http://cxf.apache.org/transports/http-jetty/configuration"
  xsi:schemaLocation="
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.1.xsd
            http://cxf.apache.org/configuration/security                                             
            http://cxf.apache.org/schemas/configuration/security.xsd              
            http://cxf.apache.org/transports/http/configuration                            
            http://cxf.apache.org/schemas/configuration/http-conf.xsd 
            http://cxf.apache.org/transports/http-jetty/configuration                                                                  
            http://cxf.apache.org/schemas/configuration/http-jetty.xsd    
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

  <context:annotation-config/> 

  <!-- Load Storage Manager -->
  <import resource="classpath:edu/umn/msi/tropix/storage/core/context.xml" />
  
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
    <property name="properties">  
      <props>  
        <!-- <prop key="service.address">https://localhost:9001/tint</prop>  -->
        <prop key="storage.service.enable">false</prop>
        <prop key="storage.service.secure">false</prop>        
        <prop key="storage.service.https.port">8743</prop>
        <prop key="storage.service.http.port">8780</prop>
        <prop key="storage.service.host">localhost</prop>
        <prop key="storage.service.key.password">password</prop>
        <prop key="storage.service.keymanager.password">password</prop>
        <prop key="storage.service.keymanager.file"></prop>
        <prop key="storage.service.trustmanager.password">password</prop>
        <prop key="storage.service.trustmanager.file"></prop>
      </props>  
    </property>
    <property name="ignoreResourceNotFound" value="true" />
    <property name="ignoreUnresolvablePlaceholders" value="true" />
  </bean>
  

  <import resource="classpath:META-INF/cxf/cxf.xml" />
  <context:component-scan base-package="edu.umn.msi.tropix.storage.service.impl" />
  <import resource="classpath:edu/umn/msi/tropix/storage/core/mapperContext.xml" />

</beans>